USE [master]
GO
/****** Object:  Database [AgendaCitasYessiAranci]    Script Date: 25-01-2026 16:26:42 ******/
CREATE DATABASE [AgendaCitasYessiAranci]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgendaCitasYessiAranci', FILENAME = N'C:\Users\yessi\OneDrive\Desktop\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgendaCitasYessiAranci.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgendaCitasYessiAranci_log', FILENAME = N'C:\Users\yessi\OneDrive\Desktop\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgendaCitasYessiAranci_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgendaCitasYessiAranci].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgendaCitasYessiAranci]
GO
/****** Object:  Table [dbo].[Atenciones]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atenciones](
	[AtencionID] [int] IDENTITY(1,1) NOT NULL,
	[CitaID] [int] NOT NULL,
	[Observacion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Atenciones] PRIMARY KEY CLUSTERED 
(
	[AtencionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID_Cliente] [int] NOT NULL,
	[UsuarioID_Colaborador] [int] NOT NULL,
	[ServicioID] [int] NOT NULL,
	[HorarioID] [int] NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
	[Estado] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[UsuarioID] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Apellido] [varchar](60) NOT NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colaboradores]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaboradores](
	[UsuarioID] [int] NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Especialidad] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Colaboradores] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[HorarioID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID_Colaborador] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](0) NOT NULL,
	[HoraFin] [time](0) NOT NULL,
	[Disponible] [bit] NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[HorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[ReseñaID] [int] IDENTITY(1,1) NOT NULL,
	[AtencionID] [int] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Comentario] [varchar](50) NOT NULL,
	[ServicioID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_Reseñas] PRIMARY KEY CLUSTERED 
(
	[ReseñaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ServicioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [varchar](30) NOT NULL,
	[DuracionMin] [int] NOT NULL,
	[Precio] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosColaboradores]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosColaboradores](
	[ServicioID] [int] NOT NULL,
	[UsuarioID_Colaborador] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_ServiciosColaboradores] PRIMARY KEY CLUSTERED 
(
	[ServicioID] ASC,
	[UsuarioID_Colaborador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25-01-2026 16:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](12) NOT NULL,
	[Correo] [varchar](50) NULL,
	[ClaveHash] [varchar](64) NOT NULL,
	[Telefono] [varchar](9) NULL,
	[Rol] [tinyint] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Atenciones] ON 

INSERT [dbo].[Atenciones] ([AtencionID], [CitaID], [Observacion]) VALUES (3, 1025, N'Perfilado de cejas con cera roll on')
INSERT [dbo].[Atenciones] ([AtencionID], [CitaID], [Observacion]) VALUES (4, 1023, N'fibra tecnologica, en 0.7 diseño ojo de gato desde 7mm a 13mm')
SET IDENTITY_INSERT [dbo].[Atenciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([CitaID], [UsuarioID_Cliente], [UsuarioID_Colaborador], [ServicioID], [HorarioID], [FechaHora], [Estado]) VALUES (1023, 13, 20, 4, 1106, CAST(N'2026-01-25T12:00:00.0000000' AS DateTime2), N'Atendida')
INSERT [dbo].[Citas] ([CitaID], [UsuarioID_Cliente], [UsuarioID_Colaborador], [ServicioID], [HorarioID], [FechaHora], [Estado]) VALUES (1024, 18, 20, 7, 1109, CAST(N'2026-01-25T14:00:00.0000000' AS DateTime2), N'Confirmada')
INSERT [dbo].[Citas] ([CitaID], [UsuarioID_Cliente], [UsuarioID_Colaborador], [ServicioID], [HorarioID], [FechaHora], [Estado]) VALUES (1025, 21, 20, 8, 1168, CAST(N'2026-01-25T00:00:00.0000000' AS DateTime2), N'Atendida')
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
INSERT [dbo].[Clientes] ([UsuarioID], [Nombre], [Apellido], [FechaNacimiento]) VALUES (13, N'Romina', N'Lopez', CAST(N'1991-08-02' AS Date))
INSERT [dbo].[Clientes] ([UsuarioID], [Nombre], [Apellido], [FechaNacimiento]) VALUES (18, N'Jose', N'Arancibia', CAST(N'1963-04-15' AS Date))
INSERT [dbo].[Clientes] ([UsuarioID], [Nombre], [Apellido], [FechaNacimiento]) VALUES (19, N'Yessica', N'Arancibia', CAST(N'1991-11-27' AS Date))
GO
INSERT [dbo].[Colaboradores] ([UsuarioID], [Nombre], [Especialidad]) VALUES (20, N'Yessenia Arancibia', N'Esteticista')
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([HorarioID], [UsuarioID_Colaborador], [Fecha], [HoraInicio], [HoraFin], [Disponible]) VALUES (1106, 20, CAST(N'2026-01-25' AS Date), CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time), 0)
INSERT [dbo].[Horarios] ([HorarioID], [UsuarioID_Colaborador], [Fecha], [HoraInicio], [HoraFin], [Disponible]) VALUES (1107, 20, CAST(N'2026-01-25' AS Date), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), 0)
INSERT [dbo].[Horarios] ([HorarioID], [UsuarioID_Colaborador], [Fecha], [HoraInicio], [HoraFin], [Disponible]) VALUES (1109, 20, CAST(N'2026-01-25' AS Date), CAST(N'14:00:00' AS Time), CAST(N'15:00:00' AS Time), 0)
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Reseñas] ON 

INSERT [dbo].[Reseñas] ([ReseñaID], [AtencionID], [Calificacion], [Comentario], [ServicioID], [UsuarioID], [Activo], [Visible]) VALUES (3, 3, 5, N'Excelente atencion, estoy muy conforme', 8, 21, 1, 1)
INSERT [dbo].[Reseñas] ([ReseñaID], [AtencionID], [Calificacion], [Comentario], [ServicioID], [UsuarioID], [Activo], [Visible]) VALUES (4, 4, 5, N'me  encantaron mis nuevas pestañas', 4, 13, 1, 1)
SET IDENTITY_INSERT [dbo].[Reseñas] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([ServicioID], [NombreServicio], [DuracionMin], [Precio], [Activo]) VALUES (1, N'Extensión de pestañas', 120, 32000, 0)
INSERT [dbo].[Servicios] ([ServicioID], [NombreServicio], [DuracionMin], [Precio], [Activo]) VALUES (2, N'Lifting de pestañas', 60, 25000, 0)
INSERT [dbo].[Servicios] ([ServicioID], [NombreServicio], [DuracionMin], [Precio], [Activo]) VALUES (3, N'Extensión de pestañas', 120, 25000, 0)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
INSERT [dbo].[ServiciosColaboradores] ([ServicioID], [UsuarioID_Colaborador], [Activo]) VALUES (4, 20, 1)
INSERT [dbo].[ServiciosColaboradores] ([ServicioID], [UsuarioID_Colaborador], [Activo]) VALUES (5, 20, 1)
INSERT [dbo].[ServiciosColaboradores] ([ServicioID], [UsuarioID_Colaborador], [Activo]) VALUES (6, 20, 1)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Rut], [Correo], [ClaveHash], [Telefono], [Rol]) VALUES (13, N'24349932-1', N'yessiaranci+13@gmail.com', N'aa354b116166c8e3501e4e0be921cea3f0f2ae9d4566f33de6a6a3f42704bde8', N'936781698', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Rut], [Correo], [ClaveHash], [Telefono], [Rol]) VALUES (18, N'9294938-9', N'yessiaranci+18@gmail.com', N'86f1cd5cb3aee2afc165666637f3455f801177b4a94bec0000bc8784d9d32815', N'977711531', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Rut], [Correo], [ClaveHash], [Telefono], [Rol]) VALUES (19, N'17872461-4', N'yessiaranci@gmail.com', N'ad4d81a7064db0a2b8e38e605e18f39b5f15587b0dfd3b70bdc12ef5f00b9a2c', N'966949692', 3)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ_Atenciones_Cita]    Script Date: 25-01-2026 16:26:43 ******/
ALTER TABLE [dbo].[Atenciones] ADD  CONSTRAINT [UQ_Atenciones_Cita] UNIQUE NONCLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Reseña_Atencion]    Script Date: 25-01-2026 16:26:43 ******/
ALTER TABLE [dbo].[Reseñas] ADD  CONSTRAINT [UQ_Reseña_Atencion] UNIQUE NONCLUSTERED 
(
	[AtencionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Reseñas_Atencion]    Script Date: 25-01-2026 16:26:43 ******/
ALTER TABLE [dbo].[Reseñas] ADD  CONSTRAINT [UQ_Reseñas_Atencion] UNIQUE NONCLUSTERED 
(
	[AtencionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Correo]    Script Date: 25-01-2026 16:26:43 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Rut]    Script Date: 25-01-2026 16:26:43 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Rut] UNIQUE NONCLUSTERED 
(
	[Rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Horarios] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Reseñas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Reseñas] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ServiciosColaboradores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Rol]  DEFAULT ((1)) FOR [Rol]
GO
ALTER TABLE [dbo].[Atenciones]  WITH CHECK ADD  CONSTRAINT [FK_Atenciones_Citas] FOREIGN KEY([CitaID])
REFERENCES [dbo].[Citas] ([CitaID])
GO
ALTER TABLE [dbo].[Atenciones] CHECK CONSTRAINT [FK_Atenciones_Citas]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Cliente] FOREIGN KEY([UsuarioID_Cliente])
REFERENCES [dbo].[Clientes] ([UsuarioID])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Cliente]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Colaborador] FOREIGN KEY([UsuarioID_Colaborador])
REFERENCES [dbo].[Colaboradores] ([UsuarioID])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Colaborador]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Horarios] FOREIGN KEY([HorarioID])
REFERENCES [dbo].[Horarios] ([HorarioID])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Horarios]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Servicios] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Servicios]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Colaboradores_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Colaboradores] CHECK CONSTRAINT [FK_Colaboradores_Usuarios]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Colaborador] FOREIGN KEY([UsuarioID_Colaborador])
REFERENCES [dbo].[Colaboradores] ([UsuarioID])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Colaborador]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Atenciones] FOREIGN KEY([AtencionID])
REFERENCES [dbo].[Atenciones] ([AtencionID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Atenciones]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Servicios] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Servicios]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Usuarios]
GO
ALTER TABLE [dbo].[ServiciosColaboradores]  WITH CHECK ADD  CONSTRAINT [FK_SC_Colaborador] FOREIGN KEY([UsuarioID_Colaborador])
REFERENCES [dbo].[Colaboradores] ([UsuarioID])
GO
ALTER TABLE [dbo].[ServiciosColaboradores] CHECK CONSTRAINT [FK_SC_Colaborador]
GO
ALTER TABLE [dbo].[ServiciosColaboradores]  WITH CHECK ADD  CONSTRAINT [FK_SC_Servicio] FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[ServiciosColaboradores] CHECK CONSTRAINT [FK_SC_Servicio]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [CK_Citas_Estado] CHECK  (([Estado]='Atendida' OR [Estado]='Cancelada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [CK_Citas_Estado]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [CK_Horarios_Horas] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [CK_Horarios_Horas]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [CK_Reseñas_Calificacion] CHECK  (([Calificacion]>=(1) AND [Calificacion]<=(5)))
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [CK_Reseñas_Calificacion]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Duracion] CHECK  (([DuracionMin]>(0)))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Duracion]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Precio]
GO
USE [master]
GO
